html {
  font-size: 14px;
  color: white !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}




/* EKLENENLER */

body {
    background-color: #1e2022;
}

nav {
    background-color: #25282a;
    height: 60px;
    border: 0.1px solid #555555;
}



li a {
    text-decoration: none;
    color: white !important;
    transition: all, 0.3ms ease-out;
}

/* geçici */
.offcanvas-header button {
    background-color: white !important;
}

svg path {
    fill: white !important;
}

/* li a:hover {
    background-color: transparent;
    color: #0a0a1d;
} */

.register_form_container {
    background-color: #25282a;
    border-radius: 10px;
}
.login_form_container {
    background-color: #25282a;
    border-radius: 10px;
}

form button {
    background-color: #FF3B00;
}

form label {
    color: white;
}

h2 {
    color: #FF3B00 !important;
}

.navbar-canvas-menu {
    background-color: #25282a;
    width: 18%;
}
.bi-caret-down path {
    fill: white;
}

.nav-canvas-icon {
    height: 38px;
}

.nav-search-input {
    background-color: #25282a;
    position: relative !important;

}

.nav-search-icon {
    position: absolute !important;
    top: 2%;
    left: 1%;
    bottom: 2%;
}

.nav-search-input path {
    fill: white !important;
}