




:root {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}



body,
h1,
h2,
h3,
h4,
p,
span,
div {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /*    color: #BEC0C2;*/
    color: #ADAFB1;
}







/* @media (min-width: 768px) {
    html {
        font-size: 16px;
    }
} */


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}




/* EKLENENLER */

body {
    background-color: #1e2022;
}

nav {
    background-color: #25282a;
    height: 60px;
    border: 0.1px solid #555555;
}



li a {
    text-decoration: none;
    color: white !important;
    transition: all, 0.3ms ease-out;
}

/* geçici */
.offcanvas-header button {
    background-color: white !important;
}

svg path {
    fill: white !important;
}


.register_form_container {
    background-color: #25282a;
    border-radius: 7px;
}
.login_form_container {
    background-color: #25282a;
    border-radius: 7px;
}

.profile_page_container {
    background-color: #25282a;
    border-radius: 7px;

}

.editing_popup_container {
    background-color: #25282a;
    border-radius: 7px;
}

form button {
    background-color: #FF3B00;
}

form label {
    color: white;
}

modal-header h2 {
    color: #FF3B00 !important;
}

.navbar-canvas-menu {
    background-color: #25282a;
    width: 18%;
}
.bi-caret-down path {
    fill: white;
}

.nav-canvas-icon {
    height: 38px;
}

.nav-search-input {
    background-color: #25282a;
    position: relative !important;
}

.nav-search-input:focus {
    background-color: #1e2022;
    outline: 3px solid grey;
    border: none;
}

.nav-search-icon {
    position: absolute !important;
    top: 13%;
    left: 1%;
    bottom: 13%;
}

.nav-search-input path {
    fill: white !important;
}

.search-button-link {
    padding: 0 0 0 0.4rem;
}

.hero_section_container {
    height: 6em;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 4px #333333;
    background-color: #25282a;
}

.hero_section_title {
    font-weight: bold;
    bottom: 15%;
    color: #BEC0C2;
    font-size: 4.5rem;
}

.giders_list_element {
    background-color: black;
    height: 3em;
    margin-bottom: 10px;
    border-radius: 7px !important;
}

.giders_list_element div {
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
    line-height: 100%;
    font-size: 1.6rem;
    border-left: 2px solid gray;
    color: white;
}

.add_gider_container {
    min-width: 33%;
    background-color: #25282a;
    border-radius: 7px;
}

.gider_remove_icon path {
    fill: #dc3545 !important;
}

.gider_edit_icon path {
    fill: #007bff !important;
}

.gider_button_area {
    width : 40%;
    height: 100%;
}




/*.editing_popup_container {
    width: 400px;
    height: 550px;
    z-index: 999;
    background-color: red;
}*/

.all_page_links_container {
    height: 150px;
}

.all_page_links_container h1 {
        font-size: 3.4rem;
}
    
.all_page_links_container h3 {
        font-size: 1.7rem;
}

.home_boxes {
    text-align: center;
    height: 100%;
    min-width: 32%;
    border-radius: 7px;
}

.home_boxes h3,
.home_boxes h2 {
    margin-bottom: 0px;
}

.total_user_box {
    background-color: #f56954;
}

.total_gider_box {
    background-color: #00c0ef;
}

.total_company_box {
    background-color: #0073b7;
}

section.home_graph_section {
    width: 100%;
    height: 44vh;
    background-color: #25282a;
    border-radius: 7px;
}

/*@media screen and (min-width:992px) and (max-width: 1200px) {
    
    ::root {
        font-size: 
    }
}*/

.gider_button_area a svg {
    width: 1.4rem;
    height: 1.4rem;
}


/* -----  RESPONSIVE SCREEN CODES  ----- */
@media screen and (min-width:992px) and (max-width:1200px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    :root {
        font-size: 11px;
    }
}

@media screen and (min-width:400px) and (max-width:767px) {
    :root {
        font-size: 10px;
    }

    .gider_button_area a {
        padding: 0.5rem;
    }

    .giders_list_element div {
        padding: 0 0.5rem;
        line-height: 100%;
        font-size: 1.4rem;
    }
    }

}